:root {

  --text-color: #c5c3c6;

  --color-background: #46494c;

  --color-form: #2f3133;

  --color-2: #4c5c68;

  --color-btn-hover: #b8b8bb;

  --color-btn-background: #dbdbdb;

  --color-button: #2a4147;

  --color-button-disabled: #4c5c68c7;

  --color-button-shadow: #31393f;
}
